<app-banner src="assets/images/banner-homepage.png" alt="Banner da aplicação Jornada"></app-banner>
<app-container>
  <h2>Promoções</h2>

  <app-form-busca></app-form-busca>

  <div class="card-wrapper">
    <app-card-busca src="assets/images/Veneza.png" alt="imagem local de viagem" value="R$863" destiny="Veneza"></app-card-busca>
    <app-card-busca src="assets/images/Atacama.png" alt="imagem local de viagem" value="R$723" destiny="Atacama"></app-card-busca>
    <app-card-busca src="assets/images/Patagonia.png" alt="imagem local de viagem" value="R$263" destiny="Patagonia"></app-card-busca>
    <app-card-busca src="assets/images/Veneza.png" alt="imagem local de viagem" value="R$863" destiny="Veneza"></app-card-busca>
    <app-card-busca src="assets/images/Atacama.png" alt="imagem local de viagem" value="R$723" destiny="Atacama"></app-card-busca>
    <app-card-busca src="assets/images/Patagonia.png" alt="imagem local de viagem" value="R$263" destiny="Patagonia"></app-card-busca>


  </div>
  <h2>Depoimentos</h2>
  <app-card-text src="assets/images/Avatar1.png" alt="icone da pessoa que depôs" depoimento="A Jornada foi uma das melhores agências de viagens que eu já experimentei. O serviço ao cliente foi excepcional, e toda a equipe foi muito atenciosa e prestativa" autoria="Lauro Matos"></app-card-text>
</app-container>
