<app-banner src="assets/images/banner-homepage.png" alt="Banner da aplicação Jornada"></app-banner>
<app-container>

  <h2>Promoções</h2>

  <div class="card-wrapper">
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
  </div>
  <h2>Depoimentos</h2>
  <app-card-text></app-card-text>
</app-container>
