<main class="principal">
  <h2 class="principal__titulo">Dados do cadastro</h2>

  <form class="principal__formulario" id="formulario">
    <h3 class="principal__subtitulo">Dados pessoais</h3>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="nome">Nome Completo</label>
      <input name="nome" id="nome" class="campo__escrita">
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="nascimento">Nascimento</label>
        <input name="nascimento" id="nascimento" type="date" class="campo__escrita"/>
      </div>
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="telefone">Contato</label>
        <input name="telefone" id="telefone" type="tel" placeholder="(XX) XXXXX-XXXX" class="campo__escrita"/>
      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="email">E-mail</label>
      <input name="email" id="email" type="email" class="campo__escrita"/>
    </div>


    <h3 class="principal__subtitulo">Endereço</h3>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="cep">CEP</label>
      <input name="cep" id="cep" class="campo__escrita" />
      <div id="erro"></div>
    </div>

    <div class="formulario__campo">
      <label class="campo__etiqueta" for="endereco">Endereço</label>
      <input name="endereco" id="endereco" class="campo__escrita" />
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="numero">Numero</label>
        <input name="numero" id="numero" class="campo__escrita" />
      </div>
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="complemento">Complemento</label>
        <input name="complemento" id="complemento" class="campo__escrita" />
      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="bairro">Bairro</label>
      <input name="bairro" id="bairro" class="campo__escrita" />
    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="cidade">Cidade</label>
        <input name="cidade" id="cidade" class="campo__escrita" />
      </div>

      <div class="formulario__campo">
        <label class="campo__etiqueta" for="estado">UF</label>
        <select id="estado" name="estado" class="campo__escrita">
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
          <option value="EX">Estrangeiro</option>
        </select>
      </div>

    </div>
    <button type="submit" class="formulario__botao">Enviar formulário</button>
    </form>
</main>
