<section class="banner">
  <h2 class="banner__titulo">Cadastro finalizado</h2>
</section>

<main class="principal cadastro">
  <h2 class="principal__titulo">Sucesso!</h2>
  <h3 class="principal__subtitulo cadastro__subtitulo">Você finalizou seu cadastro!</h3>
  <p class="principal__texto">Caso deseje editar informações ou atualizá-las no futuro, é só acessar a página de
      perfil!</p>
  <img src="./assets/img/Encerramento-compra---Alura-Books_1.png" alt="Ficha de cadastro completada"
      class="cadastro__imagem">
</main>
