@page "/Artistas"

@inject ArtistaAPI artistaAPI

<h3>Artistas</h3>

@if (artistas is not null)
{
    foreach(var artista in artistas)
    {   
      <p>@artista.Nome</p>
    }
}

@code {
    private ICollection<ArtistaResponse>? artistas;

    protected override async Task OnInitializedAsync()
    {
        artistas = await artistaAPI.GetArtistaAsync();
    }
}