@page "/MusicasPorArtista"
@inject MusicasAPI musicasAPI

<h3>Músicas por artista</h3>
@if (musicas is not null)
{
    foreach (var musica in musicas)
    {
        <p>@musica.Nome</p>
    }
}


@code {
    private ICollection<MusicaResponse>? musicas;

    protected override async Task OnInitializedAsync()
    {
        musicas = await musicasAPI.GetMusicasAsync();
    }
}