
.form-container{
  max-width: 50%;
  min-height: 74%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  align-items: center;


  mat-card-header {
    margin-bottom: 24px;

    mat-card-title {
      font-size: 32px;
      font-weight: 400;
    }
  }

}
