<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <div class="selecao-idade">

      <app-seletor-passageiro [formControl]="formBuscaService.obterControle('adultos')" titulo="Adultos" subtitulo="Acima de 12 anos"></app-seletor-passageiro>
      <app-seletor-passageiro [formControl]="formBuscaService.obterControle('criancas')" titulo="Crianças" subtitulo="Entre 2 e 11 anos"></app-seletor-passageiro>
      <app-seletor-passageiro [formControl]="formBuscaService.obterControle('bebes')" titulo="Bebês" subtitulo="Até 2 anos"></app-seletor-passageiro>

      <!-- <ul>
        <li>Adultos</li>
        <li>(Acima de 12 anos)</li>
        <li>
          <button operacao="decrementar" mat-mini-fab>
            <img src="assets\icones\do_not_disturb_on.png" alt="Operador de subtração">
          </button>
          <span>1</span>
          <button operacao="incrementar"  mat-mini-fab>
            <img src="assets\icones\add_circle.png" alt="Operador de Adição">
          </button>
        </li>
      </ul>
      <ul>
        <li>Crianças</li>
        <li>(Entre 2 e 11 anos)</li>
        <li>
          <button operacao="decrementar"  mat-mini-fab>
            <img src="assets\icones\do_not_disturb_on.png" alt="Operador de subtração">
          </button>
          <span>1</span>
          <button operacao="incrementar"  mat-mini-fab>
            <img src="assets\icones\add_circle.png" alt="Operador de Adição">
          </button>
        </li>
      </ul>
      <ul>
        <li>Bebês</li>
        <li>(Até 2 anos)</li>
        <li>
          <button operacao="decrementar"  mat-mini-fab>
            <img src="assets\icones\do_not_disturb_on.png" alt="Operador de subtração">
          </button>
          <span>1</span>
          <button  operacao="incrementar" mat-mini-fab>
            <img src="assets\icones\add_circle.png" alt="Operador de Adição">
          </button>
        </li>
      </ul> -->
    </div>
    <div class="flex-container">
      <mat-chip-listbox aria-label="Seleção de passagens">
        <mat-chip-option value="Econômica" [selected]="formBuscaService.formBusca.get('tipo')?.value === 'Econômica'" (selectionChange)="formBuscaService.alterarTipo($event, 'Econômica')">
          Econômica
        </mat-chip-option>
        <mat-chip-option value="Executiva" [selected]="formBuscaService.formBusca.get('tipo')?.value === 'Executiva'" (selectionChange)="formBuscaService.alterarTipo($event, 'Executiva')">
          Executiva
        </mat-chip-option>
      </mat-chip-listbox>
  </div>
  </div>
  <div mat-dialog-actions class="container-button">
    <button mat-button mat-dialog-close background-color="#E8DEF8">Cancelar</button>
    <button mat-flat-button color="primary">Aplicar</button>
  </div>
</section>
