<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">
  <img src="assets/imagens/{{ pensamento.modelo }}.png" alt="Aspas coloridas">
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
  <div class="acoes">
    <button class="botao-editar" routerLink="/pensamentos/editarPensamento/{{pensamento.id}}">
      <img src="/assets/imagens/icone-editar.png" alt="icone de editar pensamento">
    </button>
    <button class="botao-excluir" routerLink="/pensamentos/excluirPensamento/{{pensamento.id}}">
      <img src="/assets/imagens/icone-excluir.png" alt="Ícone de excluir">
  </button>
  </div>
</div>


