<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono pensamento-p">
  <img src="assets/imagens/{{ pensamento.modelo }}.png" alt="Aspas coloridas">
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
  <div class="acoes">
    <button class="botao-editar">
      <img src="/assets/imagens/icone-editar.png" alt="icone de editar pensamento">
    </button>
    <button class="botao-excluir">
      <img src="/assets/imagens/icone-excluir.png" alt="icone de excluir pensamento">
    </button>
  </div>
</div>


