<footer class="rodapé">
  <h2 class="rodapé__titulo">Grupo Alura</h2>
  <ul class="lista-rodapé">
      <li class="lista-rodapé__titulo">Educação</li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/CasaDoCodigo.svg" alt="Logo da casa do código">
          <a href="https://www.casadocodigo.com.br/" class="lista-rodapé__link">Casa do código</a>
      </li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/Caelum.svg" alt="Logo da caelum">
          <a href="https://caelum.com.br/" class="lista-rodapé__link">Caelum</a>
      </li>
  </ul>

  <ul class="lista-rodapé">
      <li class="lista-rodapé__titulo">Educação online</li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/Alura.svg" alt="Logo da Alura">
          <a href="https://www.alura.com.br/" class="lista-rodapé__link">Alura</a>
      </li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/AluraEmpresas.svg" alt="Logo da Alura para Empresas">
          <a href="https://www.alura.com.br/empresas" class="lista-rodapé__link">Alura para Empresas</a>
      </li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/AluraLATAM.svg" alt="Logo da Alura Latam">
          <a href="https://www.aluracursos.com/" class="lista-rodapé__link">Alura LATAM</a>
      </li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/AluraStart.svg" alt="Logo da Alura START">
          <a href="https://www.alurastart.com.br/" class="lista-rodapé__link">Alura Start</a>
      </li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/MusicDot.svg" alt="Logo da Music Dot">
          <a href="https://www.musicdot.com.br/" class="lista-rodapé__link">Music Dot</a>
      </li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/AluraLingua.svg" alt="Logo da Alura Lingua">
          <a href="https://www.aluralingua.com.br/" class="lista-rodapé__link">Alura Lingua</a>
      </li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/PM3.svg" alt="Logo da PM3">
          <a href="https://www.cursospm3.com.br/" class="lista-rodapé__link">PM3</a>
      </li>
  </ul>

  <ul class="lista-rodapé">
      <li class="lista-rodapé__titulo">Comunidade</li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/HipstersTech.svg" alt="Logo do Hipsters ponto Tech">
          <a href="https://hipsters.tech/" class="lista-rodapé__link">Hipsters ponto Tech</a>
      </li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/ScubaDev.svg" alt="Logo do Scuba Dev">
          <a href="https://scuba.dev.br/" class="lista-rodapé__link">Scuba Dev</a>
      </li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/LayersTech.svg" alt="Logo do Layers ponto Tech">
          <a href="https://layerspontotech.com.br/" class="lista-rodapé__link">Layers ponto Tech</a>
      </li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/LikeABoss.svg" alt="Logo do Like a Boss">
          <a href="https://likeaboss.com.br/" class="lista-rodapé__link">Like a Boss</a>
      </li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/CarreiraSemFronteira.svg" alt="Logo do Carreira sem fronteiras">
          <a href="https://www.carreirasemfronteiras.com.br/" class="lista-rodapé__link">Carreira sem
              fronteiras</a>
      </li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/HipstersJobs.svg" alt="Logo do Hipsters ponto jobs">
          <a href="https://hipsters.jobs/" class="lista-rodapé__link">Hipsters ponto jobs</a>
      </li>
      <li class="lista-rodapé__item">
          <img src="/assets/img/GUJ.svg" alt="Logo do GUJ">
          <a href="https://www.guj.com.br/" class="lista-rodapé__link">GUJ</a>
      </li>
  </ul>
</footer>
